In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./datasets/Courses.csv')

In [4]:
df.head()

,CourseId,CourseTitle,DurationInSeconds,ReleaseDate,Description,AssessmentStatus,IsCourseRetired
0,introduction-google-workspace-administration,Introduction to Google Workspace Administration,1572,2022-01-11,Introduction to Google Workspace Administratio...,None,no
1,google-workspace-security-1,Google Workspace Security,987,2022-01-11,Google Workspace Security is the third course ...,None,no
2,deploying-managing-windows-workloads-google-cloud,Deploying and Managing Windows Workloads on Go...,10964,2022-01-11,This course teaches you about deploying and ma...,None,no
3,google-workspace-mail-management-1,Google Workspace Mail Management,1822,2022-01-11,Google Workspace Mail Management is the fourth...,None,no
4,oracle-database-program-plsql-creating-package...,Oracle Database Program with PL/SQL Exam Numbe...,4072,2022-01-11,This course will help you prepare for your PL/...,None,no

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13471 entries, 0 to 13470
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CourseId           13471 non-null  object
 1   CourseTitle        13471 non-null  object
 2   DurationInSeconds  13471 non-null  int64
 3   ReleaseDate        13471 non-null  object
 4   Description        13471 non-null  object
 5   AssessmentStatus   13471 non-null  object
 6   IsCourseRetired    13471 non-null  object
dtypes: int64(1), object(6)
memory usage: 736.8+ KB

In [16]:
df.Description

0        Introduction to Google Workspace Administratio...
1        Google Workspace Security is the third course ...
2        This course teaches you about deploying and ma...
3        Google Workspace Mail Management is the fourth...
4        This course will help you prepare for your PL/...
                               ...
13466    In this collection of lessons, we will learn a...
13467    In this series of tutorials, we will be creati...
13468    Django is the most popular and most mature Pyt...
13469    React is a library with so much power, but so ...
13470    Play by Play is a series in which top technolo...
Name: Description, Length: 13471, dtype: object